<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./public/css/styles.css">
    <title>Help</title>
</head>

<header>
    <h1 class="title">PAYTIME</h1>

    <div style="margin-left: 200px;">
        <a href="/payments">Home</a>
        <a href="/about">About</a>
        <a href="/help">Help</a>
    </div>

</header>

<body>
    <main class="main-content">
        <p style="font-size: 30px; font-style: bold;">User Guide</p>
        <ul>
            <li>Click on create order button to make an order.</li>
            <li>From there you got your order id. Hit the checkout button to proceed further.</li>
            <li>Here we provide various options for the payments like UPI, Debit card, Net banking etc.</li>
            <li>Select any one option to make a payment.</li>
            <li>After selectiong the amount to be paid, your verification details will be displayed.</li>
            <li>Hit the verify button to place your order.</li>
        </ul>

    </main>

</body>

<footer>
    <p>Created by Garima Mittal</p>
</footer>